
@model BitFour.LojaVirtual.Dominio.Entidades.Pedido




@{
    ViewBag.Title = "Fechar Pedido";
}

<h2>Fechar o Pedido</h2>
<p>Digite suas Informações abaixo</p>





@*html para falar que esse formulario é do tipo Post*@
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Enviar para</h3>
    <div style="background-color: rgb(242, 242, 242)">
        <div class="form-group">
            <label>Nome do cliente: </label>
            @Html.TextBoxFor(c => c.NomeCliente, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NomeCliente,"")
    </div>
        <br />



        <div class="form-group">
            <h3>Dados para entrega</h3>
            <h3>Endereço</h3>

            <div class="form-group col-lg-4">
                <label>Cep:</label>
                @Html.TextBoxFor(c => c.Cep, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Cep, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Endereço:</label>

                @Html.TextBoxFor(c => c.Endereco, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Endereco, "")
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="form-group col-lg-4">
                <label>Complemento:</label>
                @Html.TextBoxFor(c => c.Complememento, new { @class = "form-control" })
            </div>

   


            <div class="form-group">
                <label>Cidade:</label>
                @Html.TextBoxFor(c => c.Cidade, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="form-group col-lg-4">
                <label>Bairro:</label>
                @Html.TextBoxFor(c => c.Bairro, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Estado:</label>
                @Html.TextBoxFor(c => c.Estado, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-lg-10" style="width: 300px;">
            <label>E-mail:</label>
            @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
        </div>

        <h3>Opções:</h3>
        <div class="checkbox"></div>
        <label>
            @Html.EditorFor(c => c.EnbrulhaPresente)
            Embrulhar para presente?
        </label>
        <style>
            #button {
                margin-left: 200px;
                margin-right: 500px;
                margin-top: 50px;
            }
        </style>

        <div class="form-group col-lg-6" id="button">
            <input class="btn btn-primary" type="submit" value="Fechar o pedido" />
        </div>
  </div>


}
@*//funçao jquery para pegar dados do cep atraves do webservice de ceps repbluicavirtual*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $('#Cep').change(function(e) {

        e.preventDefault();

        $("#Endereco").val('');
        $("#Bairro").val('');
        $('#complemento').val('');
        $("#Cidade").val('');
        $("#Estado").val('');

        var cep = $('#Cep').val().replace("-", "");

        $.getJSON("http://cep.republicavirtual.com.br/web_cep.php?cep=" + cep + "&formato=json", {}, function(data) {

            if (data.resultado_txt == 'sucesso - cep completo') {

                $("#Endereco").val(data.tipo_logradouro + ' ' + data.logradouro);
                $("#Bairro").val(data.bairro);
                $("#Cidade").val(data.cidade);
                $("#Estado").val(data.uf);

            }
        });
    });
</script>

