 @model BitFour.LojaVirtual.Dominio.Entidades.Produto

@{
    ViewBag.Title = "Alterar" + @Model.Nome;
    Layout = "~/Areas/Administrativo/Views/Shared/_AdministrativoLayout.cshtml";
    /*@*utilizando o mesmo layout da area administrativa setado quando for gerar o scalfoding*@*/
}

<h2>Alterar - @Model.Nome</h2>



<div class="panel">
    <div class="panel-heading">
        
    </div>
    @using (Html.BeginForm())
    {

        <h2>
            Categoria - @Model.Categoria
        </h2>
        <div class="panel-body">
            @Html.HiddenFor(m => m.ProdutoId)
            @foreach (var property  in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "ProdutoId")
                {

                    

                    <div class="form-group">
                        <label>
                            <!--coloca o nome de cada atributo do modelo produto-->
                            @(property.DisplayName ?? property.PropertyName)
                        </label>
                        @if (property.PropertyName == "Descricao")
                        {
                            @Html.TextArea(property.PropertyName, null, new {@class = "form-control", rows = 5})
                        }
                        else
                        {
                            //renderiza os campos que nao forem igual a descriçao, Nome, descriçao e preco do modelo produto
                            @Html.TextBox(property.PropertyName, null, new {@class = "form-control"})
                        }

                        <!--Helper para validar o formulario,para cada item esta criando uma validaçao -->
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>


        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" value="Salvar"/>

            @Html.ActionLink("Cancelar Alteração","Index",null, new {@class="btn btn-default"})
        </div>
    }
</div>


<!--Para fazer a validaçao pelo javascript para preço é preciso baixar no projeto web PM> Install-Package Microsoft.jQuery.Unobstrusive.Validation -->

















@*@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" value="Salvar"/>
    @Html.ActionLink("Cancelar e retornar","Index")
    

}*@


